/* 기본 스타일 */
.chatContainer {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #4A90E2;
  font-family: Arial, sans-serif;
}

.messagesContainer {
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 8px;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.myMessage {
  text-align: right;
  background-color: #d3f8e2;
}

.otherMessage {
  text-align: left;
  background-color: #eee2e9;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  flex: 1;
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

.sendButton {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #4A90E2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.sendButton:hover {
  background-color: #357ABD;
}
